:root {
  /* --text-color: #bdbbbb; */
  --text-color: #ffffff;
}
h1 {
  font-size: 3rem;
}

.movie--slide {
  height: 70vh;
}
.movie--container {
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: radial-gradient(rgba(0, 0, 0, 0.45), rgb(0, 0, 0));
  gap: 5px;
  color: var(--text-color);
  font-family: var(--font-Inter);
  font-weight: 600;
}
.movie--container > h1 {
  font-size: clamp(2rem, 3.5vw, 3.5rem);
}
.movie--container > p {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 600;
}

@media (width > 700px) {
  .movie--container {
    justify-content: end;
    align-items: flex-start;
    text-align: left;
  }
  .movie--container > p {
    width: clamp(400px, 70%, 600px);
  }
}
