div>h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
  letter-spacing: 2px;
}

div>h3 {
  font-size: clamp(1.5rem, 1.8vw, 2rem);
  letter-spacing: 1px;
  white-space: nowrap;
}

.card {
  height: 550px;
  transition: 0.3s linear;
}


.info>p {
  font-size: clamp(0.8rem, 1.5vw, 0.9rem);
  font-weight: 500;
  user-select: none;
  width: 95%;
  margin: 0 auto;
}

/* Custom Background */
.classic {
  background: radial-gradient(circle, #f1bfd5 30%, #f398d7);
}

.action {
  background: radial-gradient(circle, #faf9ff, #acacac);
}

.korean {
  background-image: radial-gradient(circle farthest-corner at 11.7% 80.6%,
      rgba(249, 185, 255, 1) 0%,
      rgba(177, 172, 255, 1) 49.3%,
      rgba(98, 203, 255, 1) 89%);
}

.anime-series {
  background: linear-gradient(360deg, #a7b9f4, #f47d7d);
}

.anime-movie {
  background: radial-gradient(circle, #f1d6ce, #e78a62);
}



@media (hover: hover) {
  .card:hover {
    transform: scale(1.05);
  }
}

@media (width >=700px) {
  div>h3 {
    font-size: 1.6rem;
  }
}