:root {
  --font-small: 0.9rem;
}

.movie--info {
  padding: 2rem;
  min-height: 100vh;
  background: radial-gradient(
    45.72% 45.72% at 52.4% 54.28%,
    rgba(255, 185, 163, 0.93) 0%,
    #fa4e77 100%
  );
  display: grid;
  grid-template-columns: repeat(1, 100%);
  place-items: center center;
  gap: 1.5rem;
  text-align: center;
}

.add--info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.plot--info {
  width: 90%;
  margin: 0 auto;
}
.rating--comp {
  margin: 0 auto;
}

.poster--img {
  width: 450px;
  height: 450px;
}
.poster--img > img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.add--info:not(h1) {
  font-size: var(--font-small);
}

@media (width >= 1000px) {
  .movie--info {
    --font-small: 1.1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    text-align: left;
  }

  .plot--info {
    width: 100%;
    margin: 0;
  }
  .rating--comp {
    margin: 0;
  }
}
