.movie--search {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 1rem;
  padding: 1rem;
  /* background: red; */
  /* place-items: center; */
  min-height: 100vh;
}

.movie--search .card {
  background: linear-gradient(to left, #8787f1, #f463c1);
  height: auto;
  width: 100% !important;
}

.movie--search .title {
  white-space: pre-wrap;
}

.movie--search .card .info p {
  width: fit-content;
  background: #f1ab6e;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9rem;
}

.movie--search .card .info p.none {
  width: fit-content;
  background: transparent;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9rem;
}

@media (width >=700px) {
  .movie--search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}

@media (width >=1100px) {
  .movie--search {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}

@media (width >=1400px) {
  .movie--search {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}