* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(251, 231, 231);
  background: linear-gradient(
    90deg,
    rgba(251, 231, 231, 1) 0%,
    rgba(239, 226, 250, 1) 50%,
    rgba(246, 224, 230, 1) 100%
  );
  font-family: "Inter", sans-serif;
}

#root {
  color: #fff;
}

div h1,
div h2,
div h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(2rem, 3.5vw, 3.5rem);
  letter-spacing: 1.5px;
  user-select: none;
}
